.nav-container{
    position: sticky;
    top: 0;
    background-color: #E90606;
    box-shadow: 0 2px 5px rgb(37, 37, 37, .3);
    z-index: 100;
}

.nav{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav a{
    text-decoration: none;
}

.nav__brand{
    height: 30px;
}

.nav__phone{
    font-weight: 500;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
}

.nav__links a{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 15px 10px;
    margin: 0 2px;
    cursor: pointer;
    transition: .3s;
}

.nav__links a:hover{
    background-color: #d60404;
}

.nav__links a.active{
    background-color: #d60404;
}

.nav__menu-toggle{
    display: none;
}

@media only screen and (max-width: 1250px){
    .nav{
        width: 95%;
        padding: 10px;
        flex-direction: column;
    }

    .nav__phone{
        order: 3;
        padding-bottom: 15px;
    }

    .nav__links{
        display: flex;
        flex-direction: column;
        margin: 15px 0;
        text-align: center;
    }

    .nav__menu-toggle{
        display: block;
        position: absolute;
        top: 13px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;

    }

    .nav__links.hide,
    .nav__phone.hide{
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        margin: 0;
        padding: 0;
    }
}

.dashboard-icon{
    display: none;
}

@media only screen and (max-width: 599px){
    .dashboard-icon{
        display: block;
        position: absolute;
        color: white;
        top: 13px;
        left: 10px;
        cursor: pointer;
    }
}